.App {
  background-color: #BEBDBF;
  color: #3C3C40;
  display: grid;
  grid-template-columns: auto 1fr;
}

.App-header {
  grid-column: 1 / -1;
  padding: 20px 10px;
  text-align: center;
  background-color: #0D0D0D;
  color: #BEBDBF;
  text-transform: uppercase;
}

/* .App-footer {
  text-align: center;
  padding: 20px 10px;
  grid-column: 1 / -1;
  background-color: brown;
} */

/* COLORS
  #DCE4F2 light blue
  #8EA67C green ---
  #CED9BF light green ----
  #402820 brown
  #734B3D caramel

  #3C3C40 dark grey
  #89888C medium grey
  #BEBDBF light grey
  #A0A68A pale green
  #0D0D0D dark
*/

h1 { color: #3C3C40; text-align: center; }
h2 { color: #3C3C40; }
h3 { color: #3C3C40; }
h4 { color: #3C3C40; }

label {
  margin-right: 10px;
  font-weight: bold;
}

.Main-container{ 
  padding: 20px 20px;
}
