.App {
  background-color: rgb(30, 31, 34);
  color: rgb(212, 212, 212);
  display: grid;
  grid-template-columns: auto 1fr;
}

.App-header {
  grid-column: 1 / -1;
  padding: 20px 10px;
  text-align: center;
  background-color: brown;
  text-transform: uppercase;
}

.App-footer {
  text-align: center;
  padding: 20px 10px;
  grid-column: 1 / -1;
  background-color: brown;
}

h1 { color: maroon; text-align: center;}
h2 { color: orange;}
h3 { color: blueviolet;}
h4 { color: mediumpurple}
a { color: gainsboro; }

label {
  margin-right: 10px;
}

.Main-container{ 
  padding: 20px 20px;
}

.App-nav {
  background-color: teal;
  padding: 20px 20px;
}

/* 
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/
