@font-face { font-family: 'Nunito'; src: local('Nunito'), url(./fonts/Nunito-Regular.ttf) format('truetype'); }
@font-face { font-family: 'Nunito'; font-weight: 900; src: local('Nunito'), url(./fonts/Nunito-Bold.ttf) format('truetype'); }
@font-face { font-family: 'Nunito'; font-weight: 900; src: local('Nunito'), url(./fonts/Nunito-Black.ttf) format('truetype'); }

@font-face { font-family: 'Arvo'; src: local('Arvo'), url(./fonts/Arvo-Regular.ttf) format('truetype'); }
@font-face { font-family: 'Arvo'; font-weight: 900; src: local('Arvo'), url(./fonts/Arvo-Bold.ttf) format('truetype'); }

@font-face { font-family: 'IstokWeb'; src: local('IstokWeb'), url(./fonts/IstokWeb-Regular.ttf) format('truetype'); }
@font-face { font-family: 'IstokWeb'; font-weight: 900; src: local('IstokWeb'), url(./fonts/IstokWeb-Bold.ttf) format('truetype'); }

.App {
  background-color: #BEBDBF;
  color: #3C3C40;
  display: grid;
  grid-template-columns: auto 1fr;
  font-family: IstokWeb;
}

.App-header {
  grid-column: 1 / -1;
  padding: 20px 10px;
  text-align: center;
  background-color: #0D0D0D;
  color: #BEBDBF;
  text-transform: uppercase;
  font-family: Nunito;
  letter-spacing: 3px;
}

/* .App-footer {
  text-align: center;
  padding: 20px 10px;
  grid-column: 1 / -1;
  background-color: brown;
} */

/* COLORS
  #DCE4F2 light blue
  #8EA67C green ---
  #CED9BF light green ----
  #402820 brown
  #734B3D caramel

  #3C3C40 dark grey
  #89888C medium grey
  #BEBDBF light grey
  #A0A68A pale green
  #0D0D0D dark

  #ECECEC almost white
  #009FFD primary blue
*/

h1 { color: #3C3C40; font-family: Arvo; font-size: 4em; text-align: center; }
h2 { color: #3C3C40; font-family: Arvo; font-size: 2em; font-weight: bold;}
h3 { color: #3C3C40; font-family: Nunito; text-transform: uppercase; letter-spacing: 2px; }
h4 { color: #3C3C40; font-family: Nunito; }

label {
  margin-right: 10px;
  font-weight: bold;
  font-family: Nunito;
}

.Main-container{ 
  padding: 20px 40px;
}

section {
  padding-top: 10px;
  padding-bottom: 10px;
}

article {
  padding: 10px 20px 30px 20px;
  margin: 10px 0px 20px 0px;
  border-radius: 8px;
  border: solid 1px #BEBDBF;
}