button {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: Nunito; 
  background: transparent;
  border: none;
  margin: 0 10px;
  padding: 15px 0;
  width: 120px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  position: relative;
  transition: .2s ease-in-out;
  cursor: pointer;
}

button:active {
  background: rgba(255, 255, 255, .5);
}

button.animate.primary {
  color: #3C3C40;
}

.primary.animate:before, .primary.animate:after, 
.primary.animate span:before, .primary.animate span:after  {
  background: #3C3C40;
}

.primary.push {
  background: #F7F7F7;
  -webkit-box-shadow: 0px 5px 0px #3C3C40;
  -moz-box-shadow: 0px 5px 0px #3C3C40;
  -ms-box-shadow: 0px 5px 0px #3C3C40;
  -o-box-shadow: 0px 5px 0px #3C3C40;
  box-shadow: 0px 5px 0px #3C3C40;
  text-shadow: 1px 1px 1px #BEBDBF;
}


button.animate.secondary {
  color: #009FFD;
}
.secondary.animate:before, .secondary.animate:after,
.secondary.animate span:before, .secondary.animate span:after {
  background: #009FFD;
}

.secondary.push {
  background: #F7F7F7; 
  -webkit-box-shadow: 0px 5px 0px #009FFD;
  -moz-box-shadow: 0px 5px 0px #009FFD;
  -ms-box-shadow: 0px 5px 0px #009FFD;
  -o-box-shadow: 0px 5px 0px #009FFD;
  box-shadow: 0px 5px 0px #009FFD;
  text-shadow: 1px 1px 1px #ECECEC;
}

button.animate.danger {
  color: #90001c;
}
.danger.animate:before, .danger.animate:after,
.danger.animate span:before, .danger.animate span:after {
  background: #90001c;
}

.danger.push {
  background: #ffa8a8;
  -webkit-box-shadow: 0px 5px 0px #90001c;
  -moz-box-shadow: 0px 5px 0px #90001c;
  -ms-box-shadow: 0px 5px 0px #90001c;
  -o-box-shadow: 0px 5px 0px #90001c;
  box-shadow: 0px 5px 0px #90001c;
  text-shadow: 1px 1px 1px pink;
}

/* ************************************* */
/* ************ Default **************** */
/* ************************************* */
.animate:before {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  top: 0px;
  right: 0;
  transition: .1s ease-in-out .1s;
}

.animate:after {
  content: "";
  width: 1px;
  height: 100%;
  position: absolute;
  bottom: 0;
  right: 0px;
  transition: .1s ease-in-out .2s;
}

.animate span:before {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: -1px;
  left: 0;
  transition: .1s ease-in-out .3s;
}

.animate span:after {
  content: "";
  width: 1px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0px;
  transition: .1s ease-in-out;
}

.animate:hover span:after {
  height: 0;
}

.animate:hover:before {
  width: 0;
}

.animate:hover:after {
  height: 0;
}

.animate:hover span:before {
  height: 5px;
}

/* ************************************* */
/* ************ Push **************** */
/* ************************************* */

.push {
  padding: 15px 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 1px;
  -webkit-box-shadow: 0px 5px 0px #c4c4c4;
  -moz-box-shadow: 0px 5px 0px #c4c4c4;
  -ms-box-shadow: 0px 5px 0px #c4c4c4;
  -o-box-shadow: 0px 5px 0px #c4c4c4;
  box-shadow: 0px 5px 0px #c4c4c4;
  text-shadow: 1px 1px 1px #fff;
  -webkit-transition: All 250ms ease;
  -moz-transition: All 250ms ease;
  -o-transition: All 250ms ease;
  -ms-transition: All 250ms ease;
  transition: All 250ms ease;
}

.push:active {
  position: relative;
  top: 5px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  -webkit-transition: All 250ms ease;
  -moz-transition: All 250ms ease;
  -o-transition: All 250ms ease;
  -ms-transition: All 250ms ease;
  transition: All 250ms ease;
}