button {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: Nunito; 
  background: transparent;
  border: none;
  margin: 0 10px;
  padding: 15px 0;
  width: 120px;
  font-weight: bold;
  /* color: #3C3C40; */
  text-align: center;
  text-decoration: none;
  position: relative;
  transition: .2s ease-in-out;
  cursor: pointer;
}

button.default.primary {
  color: #3C3C40;
}

button.default.secondary {
  color: #009FFD;
}
button:active {
  background: rgba(255, 255, 255, .5);
}

.primary.default:before, .primary.default:after, 
.primary.default span:before, .primary.default span:after  {
  background: #3C3C40;
}
.secondary.default:before, .secondary.default:after,
.secondary.default span:before, .secondary.default span:after  {
  background: #009FFD;
}
/* ************************************* */
/* ************ Default **************** */
/* ************************************* */
.default:before {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  top: 0px;
  right: 0;
  transition: .1s ease-in-out .1s;
}

.default:after {
  content: "";
  width: 1px;
  height: 100%;
  position: absolute;
  bottom: 0;
  right: 0px;
  transition: .1s ease-in-out .2s;
}

.default span:before {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: -1px;
  left: 0;
  transition: .1s ease-in-out .3s;
}

.default span:after {
  content: "";
  width: 1px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0px;
  transition: .1s ease-in-out;
}

.default:hover span:after {
  height: 0;
}

.default:hover:before {
  width: 0;
}

.default:hover:after {
  height: 0;
}

.default:hover span:before {
  height: 5px;
}

/* ************************************* */
/* ************ Push **************** */
/* ************************************* */
.push {
  text-indent: -9999em;
}

.push:before {
  content: "START";
  padding-top: 16px;
  width: 100%;
  height: 100%;
  color: #3C3C40;
  text-indent: 0;
  background: #78cdff;
  /* background: #b40023; */
  box-sizing: border-box;
  box-shadow: 10px 10px 0 #009FFD;
  /* box-shadow: 10px 10px 0 #90001c; */
  position: absolute;
  top: -5px;
  left: -5px;
  z-index: 2;
  transition: .2s ease-in-out;
}

.push:hover:before {
  top: 0;
  left: 0;
  box-shadow: 0 0 0 #009FFD;
}