
.input-group.input-group {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}

.input-group input {
  border: none;
  padding: 10px;
  flex-grow: 2;
}

.input-group label {
  text-transform: capitalize;
}