article.iteration {
  background: #c9d9ca; 
  display: flex;
  flex-direction: column;
}

article.iteration div.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

article.iteration div.detail {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}

article.iteration td, th {
  padding: 10px 20px;
}

article.iteration td {
  cursor: pointer;
  border: none;
}

article.iteration table {
  margin-bottom: 25px;
  border-radius: 4px;
}

article.iteration thead {
  background: #3C3C40;
  color: #ECECEC;
}
 
article.iteration tbody tr:nth-child(even){ 
  background: #849c90;
} 

article.iteration tbody tr:nth-child(odd){ 
  background: #fff;
} 

article.iteration tbody tr:hover {
  background: #3C3C40;
  color: #fff;
}

article.iteration p {
  padding: 15px 10px;
  border-radius: 4px;
  background-color: white;
}