.App-nav {
  grid-area: nav;
  background-color: #3C3C40;
  padding: 20px 0px;
  min-width: 15vw;
  font-family: Arvo;
}

.App-nav ul {
  padding: 0;
}

.App-nav li {
  padding: 10px 0px; 
  color: #BEBDBF;
  list-style-type: none;
}

.App-nav li.link-hover:hover {
  background-color: #0D0D0D;
}

.App-nav ul.level-1 li{
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 2em;
  padding-left: 30px;
  padding-right: 20px;
}

.App-nav ul.level-2 li {
  font-weight: normal;
  line-height: 1.5em;
  margin-left: -30px;
  margin-right: -20px;
  padding-left: 50px;
}

.App-nav a { 
  color: #8EA67C; 
}

.App-nav a:hover, a:focus { 
  color: #C7DCAA; 
}

.App-nav a:visited { 
  color: #8EA67C; 
}

@media(max-width: 768px){
  .App-nav  {
    text-align: center;
    grid-template-columns: 1fr;
  }
}
